
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}
nav{
	z-index: 999;
	position: fixed;
	font-family: 'Lato', sans-serif;
}
.color_black{
	color: #000000;
}
.color_white{
	color: #ffffff;
}
.bg_color_black{
	color: #000000;
}
.bg_color_white{
	color: #ffffff;
}
nav ul li a{
	color: #000000;
}
.full_vh{
	top: 0;
	bottom: 0;
	padding:0;
	margin:0;

	top:0;
	left:0;

	width: 100%;
	height: 100%;
	min-height: 100vh;
}
.sub_vh{
	top: 0;
	bottom: 0;
	margin:0;

	top:0;
	left:0;

	width: 100%;
	min-height: 40vh;
	padding: 20px;	
}
#cover_section{
	background: url('/assets/images/cover25.jpeg') center/cover;
	font-family: 'Lato', sans-serif;
}
#cover_section h3,h5{
	font-weight: 700;
}
#iac_title{
	font-size: 590%;
	font-weight: 700;
}
#topic_cover_section h3,h5{
	font-weight: 700;
}
@media only screen and (max-width: 500px) {
#cover_section h3,h5{
	font-weight: 500;
}
#iac_title{
	font-size: 470%;
	font-weight: 500;
}
}
section{
	background-color: #F5F5F5;
	font-family: 'Lato', sans-serif;
}
footer{
	font-family: 'Lato', sans-serif;
}
.info_text{
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 8px;
	background-color: #FFFFFF;
}
.sub_info_text{
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 2px;
	background-color: #FFFFFF;
}
.info_text_title{
	padding-bottom: 8px;
	font-weight: 700;
	border-bottom: 1px solid #000000;
}
.info_text_content{
	text-align: justify;
	font-size: 120%;
}
.person_img{
	border:2px solid #000000;
	height: 10px;
	border-radius: 50%;
}
.person_cell{
	border: 8px solid #F5F5F5;
	border-radius: 15px;
	background-color: #FFFFFF;
}
.google-maps {
	position: relative;
	padding-bottom: 56.25%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.timer_section{
	background: url('/assets/images/cover8.jpeg') center/cover;
}
#topic_cover_about_section{
	background: url('/assets/images/cover8.jpeg') center/cover;
}
#topic_cover_btg_section{
	background: url('/assets/images/cover20.jpeg') center/cover;
}
#topic_cover_stota_section{
	background: url('/assets/images/cover7.jpeg') center/cover;
}
#topic_cover_research_pavilion_section{
	background: url('/assets/images/cover5.jpeg') center/cover;
}
#topic_cover_schedule_section{
	background: url('/assets/images/cover17.jpeg') center/cover;
}
#topic_cover_register_section{
	background: url('/assets/images/cover18.jpeg') center/cover;
}
#topic_cover_sponsors_section{
	background: url('/assets/images/cover1.jpeg') center/cover;
}
#topic_cover_team_section{
	background: url('/assets/images/cover10.jpeg') center/cover;
}
#topic_cover_contact_section{
	background: url('/assets/images/cover13.jpeg') center/cover;
}
.dropdown-content li a{
	color: #000000;
}
.to_left{
	float: left;
}
.to_right{
	float: right;
}